:root {
  --top: 70px;
  --left: 200px;
  --buttonfontSize: 50px;
  --buttonSize: 60px;
}

button {
  position: absolute;
  width: var(--buttonSize);
  height: var(--buttonSize);
  font-size: var(--buttonfontSize);
  /* text-align: center;
  vertical-align: middle; */
}

.expression {
  position: absolute;
  top: calc(var(--top) / 2);
  left: var(--left);
  font-size: var(--buttonfontSize);
}

.result {
  position: absolute;
  top: calc(var(--top) / 2 + var(--buttonfontSize));
  left: var(--left);
  font-size: var(--buttonfontSize);
  color: rgb(102, 102, 102);
}

.number1 {
  position: absolute;
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 1));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 0);
}

.number2 {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 1));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 1);
}

.number3 {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 1));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 2);
}

.cancel {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 1));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 3);
}

.number4 {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 2));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 0);
}

.number5 {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 2));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 1);
}

.number6 {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 2));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 2);
}

.equal {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 2));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 3);
}

.number7 {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 3));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 0);
}

.number8 {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 3));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 1);
}

.number9 {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 3));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 2);
}

.multiplication {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 3));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 3);
}

.number0 {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 4));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 0);
}

.addition {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 4));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 1);
}

.subtraction {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 4));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 2);
}

.division {
  top: calc((var(--top) + (var(--buttonfontSize) + 15px) * 4));
  left: calc(var(--left) + (var(--buttonfontSize) + 15px) * 3);
}

/* output {
  position: absolute;
  width: 70px;
  height: 50px;
  font-size: 30px;
  top: 20px;
  left: 300px;
} */
