:root {
  --top: 70px;
  --left: 300px;
  --buttonWidth: 70px;
  --buttonHeight: 50px;
  --buttonfontSize: 70px;
}

button {
  position: absolute;
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  font-size: var(--buttonfontSize);
}

.expression {
  position: absolute;
  top: var(--top);
  left: var(--left);
  font-size: var(--buttonfontSize);
}

.result {
  position: absolute;
  top: calc(var(--top) + var(--buttonHeight) + 5px);
  left: var(--left);
  font-size: var(--buttonfontSize);
}

.number1 {
  top: calc((var(--top) + var(--buttonHeight));
  left: var(--left);
}

.number2 {
  top: var(--dect);
  left: 375px;
}

.number3 {
  top: var(--dect);
  left: 450px;
}

.number4 {
  top: calc(var(--dect) + 55px);
  left: 300px;
}

.number5 {
  top: calc(var(--dect) + 55px);
  left: 375px;
}

.number6 {
  top: calc(var(--dect) + 55px);
  left: 450px;
}

.number7 {
  top: 180px;
  left: 300px;
}

.number8 {
  top: 180px;
  left: 375px;
}

.number9 {
  top: 180px;
  left: 450px;
}

.number0 {
  top: 235px;
  left: 300px;
}

.cancel {
  top: 70px;
  left: 525px;
}

.equal {
  top: 125px;
  left: 525px;
}

.multiplication {
  top: 180px;
  left: 525px;
}

.division {
  top: 235px;
  left: 525px;
}

.addition {
  top: 235px;
  left: 375px;
}

.subtraction {
  top: 235px;
  left: 450px;
}

/* output {
  position: absolute;
  width: 70px;
  height: 50px;
  font-size: 30px;
  top: 20px;
  left: 300px;
} */
